In [1]:
import os
import pandas as pd

In [2]:
data_folder_path = '/mnt/nupeb/rede-micro/redemicro-thayane/data'
raw_metadata_file_path = f'{data_folder_path}/metadata-paired-end-old.tsv'
meno_metadata_file_path = f'{data_folder_path}/metadata-meno.tsv'
histec_metadata_file_path = f'{data_folder_path}/metadata-his.tsv'
not_histec_metadata_file_path = f'{data_folder_path}/metadata-not-his.tsv'

paired_manifest_file_path = f'{data_folder_path}/manifest-paired.csv'

In [3]:
metadata_df = pd.read_csv(raw_metadata_file_path, sep='\t')
paired_manifest_df = pd.read_csv(paired_manifest_file_path)

In [4]:
metadata_df

,#SampleID,s_name,observations,individuo,id_vaginal,id_fezes,local_de_coleta,idade,class_meno
0,#q2:types,categorical,categorical,categorical,categorical,categorical,categorical,numeric,categorical
1,I1-M05,M05,DNA FEZES,I1,MV01,M05,LAPAC,56,2
2,I2-M33,M33,DNA FEZES,I2,MV02,M33,LAPAC,52,2
3,I3-M34,M34,DNA FEZES,I3,MV03,M34,LAPAC,58,2
4,I4-M35,M35,DNA FEZES,I4,MV04,M35,LAPAC,58,2
...,...,...,...,...,...,...,...,...,...
72,I72-M155,M155,DNA FEZES,I72,MV124,M155,SARAMENHA,47,2
73,I73-M156,M156,DNA FEZES,I73,MV125,M156,GLAURA,46,2
74,I74-M160,M160,DNA FEZES,I74,MV126,M160,GLAURA,52,2
75,I75-M162,M162,DNA FEZES,I75,MV131,M162,GLAURA,59,1
76,I76-M164,M164,DNA FEZES,I76,MV133,M164,GLAURA,48,1

In [5]:
# histerectomia_ids = ['M40', 'M56', 'M76', 'M80', 'M97', 'M100', 'M111', 'M113', 'M124', 'M160']
# metadata_df = metadata_df[~metadata_df['id_fezes'].isin(histerectomia_ids)]

# metadata_file_path = not_histec_metadata_file_path

In [6]:
metadata_df.rename(columns={'id_fezes': 'sample-id', 'idade': 'age', 'class_meno': 'class'}, inplace=True)
projection_metadata_df = metadata_df[['sample-id',  'age', 'class']]

projection_metadata_df.iloc[0, 0] = '#q2:types'


metadata_file_path = meno_metadata_file_path
projection_metadata_df.to_csv(metadata_file_path, sep='\t', index=False)

/mnt/nupeb/rede-micro/redemicro-thayane/data/metadata-not-his.tsv

/tmp/ipykernel_246791/3856382923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_df.rename(columns={'id_fezes': 'sample-id', 'idade': 'age', 'class_meno': 'class'}, inplace=True)
/tmp/ipykernel_246791/3856382923.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  projection_metadata_df.iloc[0, 0] = '#q2:types'

In [7]:
projection_metadata_df

    sample-id      age        class
0   #q2:types  numeric  categorical
1         M05       56            2
2         M33       52            2
3         M34       58            2
4         M35       58            2
..        ...      ...          ...
71       M151       61            2
72       M155       47            2
73       M156       46            2
75       M162       59            1
76       M164       48            1

[67 rows x 3 columns]